/* элементы(display): строчные inline (а), блочные block (div), строчно-блочные inline-block */
CSS
/* @import 'css/buttons.css'; <!-- соединяет несколько css, делается для удобства. во втором css могут быть только стили кнопок(к примеру) --> */
/* селектор {
    свойство: значение;
    свойство: значение;
    свойство: значение;
} */

* {  /* это селектор, который отвечает за всё на странице */
    box-sizing:border-box; /* всегда ставится, чтоб был точный рамер, который указывается и он не суммировался с остальным */
}

/* селектор выбирается по тэгу, к примеру: */
h2 {
    color: aqua;
    font-size: 50px; /* размер текста */
    width: 50vw/* view width - делает ширину блока в зависимости от размера открытого окна в которое смотрит пользователь*/;
    height: 30vh/* view height - делает высоту блока в зависимости от открытого окна */;
    text-align: center; /* расположение текста(в данном примере в центре) tac(быстрый набор, действует на все команды)*/
    font-weight: 200; /* жирность текста от 100 до 900, либо словами*/
    font-weight: bold;
    font-style: italic; /* стиль текста */
    text-decoration: underline;/*  декорации текста(пр:нижнее подчёркивание) */
    text-decoration: line-through; /* зачёркнутый текст */
    font-size: 30px; /* размер шрифта */
    text-transform: uppercase; /* все буквы в верхнем регисстре */
    text-transform: capitalize; /* предложения начинаются с заглавной буквы */
    text-transform: lowercase; /* все буквы в нижнем регистре */
    }
    
    .wrepper .element { /* в html есть блок с классом wrepper, в котором есть класс element. Таким образом окрасится все elemet только в блоке с классом wrepper. Если так записывать, то эта ВЛОЖЕННОСТЬ перебивае все другие, отдельные классы в данном блоке */
        color: #000;
    }

.box {  /* используются только вместе width + height*/
    display: inline-block;
    vertical-align: top;/* выравнивание элементов сверху, работает только с таким display  */
    width: 300px; /* ширина */
    height: 300px; /* высота */
    padding: 30px; /* делает внутренний отступ */
    padding: 20px/* отступ сверху и снизу(вертикальные) */ 30px/*отступ слева и справа*/; /* можно использовать все 4 параметра, расположение идет по часовой стрелке начиная сверхху - справа - снизу - слева */
    border-width: 30px; /* граница */
    border-style: solid; /* сплошная непрерывная линия */
    border-style: dashed; /* пунктирная линия */
    border-color: blue;
    border: 3px solid black; /* можно всё писать в одну строчку */
    margin: 30px; /* внешняя граница */
    box-sizing: border-box; /* выставляет чёткий размер, без него выставляется не чёткий размер, который задан */
    z-index: 5; /* позиционирование по оси z, как карточный домик*/
    z-index: -1;/* может быть и отрицательным, тогда элемент уходит на задний план */
}

div a {     /* делает все ссылки в блоке определенного цвета */
    color: #000;
}

.class{  /* определённый класс всегда пишется с точкой */
    color: black;
}

#begine {   /* обозначение уникального id */
    color: blue;
}

#middle {
    color: rgba(128,0,0,0.5); /* a(от 0 до 1) - добавляет прозрачности */
}

nav {
    position: static/* позия блока - статичная, ставится стандартно на всех сайтах */;
    position: relative/* позволяетдвигать блоки */;
    position: absolute;/* позволяетрасположить элемент там, где хочется */ /* работает только если родительский блок position:relative; */
    position: fixed; /* фиксирует участок и будет оставаться на месте, даже если делать прокрутку страницы */
    position: inherit;/* наследует родительские свойства */
}

nav {
    position: relative;
    left: 30px/* сдвинет блок на 30 пикселей */;
    /* bottom, top, right,left; */
}

img {
    /* float: left; */ /* обтекание текста по левой стороне */ /* сейчас не используется, использовалось, когда сайты  создавались таблицами */
    vertical-align: auto; /* ементов на странице *//* работает только тогда, когда устанавливается: */ display: inline-block; /* !!!!!!!! */ 
}